*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
.active {
  background-color: rgb(68 64 60);
  color: #fff;
}
.active span {
  display: block;
}
